header {
  height: 100px;
  background-color: #1d262b;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

header h1 {
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: xx-large;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: center;
}

.user p {
  margin: 0;
  font-size: x-large;
  margin-right: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  color: #1d262b;
  padding: 8px;
  border-radius: 100%;
  background: white;
}
